<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="col-lg-10 mx-auto">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title mb-4">Find Ruby on Rails Developer Accross the World</h5>
      <div class="input-group mb-5">
        <input type="text" class="form-control form-control-lg" placeholder="Search by country name" aria-label="Search by country name" aria-describedby="button-addon2">
        <button class="btn btn-primary btn-lg" type="button" id="button-addon2">Search</button>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <% @users.each do |user| %>
      <div class="col-lg-3 mt-3 mb-3">
        <div class="card text-center shadow">
          <div class="card-body">
            <%= image_tag 'dmu1.png', style: 'width: 150px; border-radius: 50%; border: 2px solid #0d6efd;', class: 'mb-3' %>
            <div class="user-info">
              <h5><%= user.name %></h5>
              <p class="lead"><%= user.profile_title %></p>
              <small class="text-primary"><%= user.country %></small><br>
              <%= link_to 'View Profile', 'javascript:void(0)', class: 'btn btn-primary mt-3' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>